.turbo
node_modules

Frontend/node_modules
Frontend/dist
Frontend/dist-ssr

Backend/**/bin
Backend/**/obj
.vs

*.log
.DS_Store
.env
.env.*
!.env.example
!Backend/.env.example
!Backend/src/Nexus.Api/.env.example
