Authentication__Cognito__Region=eu-central-1
Authentication__Cognito__UserPoolId=eu-central-1_example
Authentication__Cognito__AppClientId=exampleclientid
Authentication__Cognito__AppClientSecret=examplesecret
